/* CSS Document */

//breakpoints
@media (min-width: 64em){
	//styles go here
}

$breakpoint-up: ("small": "40em", "medium": "64em", "large": "87.5em");
$breakpoint-down: ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size){
	@media (min-width: map-get($breakpoint-up, $size)){
		@content;
	}
}

@mixin breakpoint-down($size){
	@media (max-width: map-get($breakpoint-down, $size)){
		@content;
	}
}


//screen sizes

$scrn: ("hd": "80rem", "fhd": "120rem", "qhd": "160rem", "k4": "240rem", "k8": "270rem" );

@mixin screensize($qual){
	@media (min-width: map-get($scrn, $qual)){
		@content;
	}
}